RewriteEngine On
RewriteBase /

# Redirect access to specific directories to return 403 Forbidden
RewriteRule ^modules/?$ - [F]
RewriteRule ^assets/?$ - [F]
RewriteRule ^inc/?$ - [F]
RewriteRule ^ui/?$ - [F]
RewriteRule ^server/?$ - [F]
RewriteRule ^views/?$ - [F]

# Route all other non-file/directory requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]